body{background-image: url("https://cdn-images-1.medium.com/max/1600/1*zWhOGf_PgX0nRTLZLmFpGg.png");}
#style_1{border-radius:  5px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFF00), to(#DAA520	));}
#style_2{border-radius:  5px;background: -webkit-gradient(linear, 0 0, 0 100%, from(#CD5C5C), to(#8B0000));}

